.configurator-options {
    $configurator-options-breakpoint: 550px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;

    @media (max-width: $configurator-options-breakpoint) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    label {
        text-transform: uppercase;
        display: flex;
        gap: 5px;
        background-color: $light-background;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 14px;

        @media (max-width: $configurator-options-breakpoint) {
            justify-content: center;
            width: 150px;

            [type='radio'] {
                display: none;
            }
        }

        [type='radio'] {
            $accent-color: black;
            -webkit-accent-color: $accent-color;
            -moz-accent-color: $accent-color;
            accent-color: $accent-color;
        }

        &:has(:checked) {
            border: 1px solid black;
        }
    }
}