.color-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    justify-items: center;
    margin-top: 20px;

    .option {
        cursor: pointer;
        $dimensions: 40px;
        width: $dimensions;
        height: $dimensions;
        border-radius: 50%;

        &.active {
            outline: 1px solid black;
            outline-offset: 2px;
        }
    }
}