.main-tab {
    $gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    background-color: rgba($color: white, $alpha: .3);
    text-transform: uppercase;
    display: flex;
    gap: $gap;
    padding: 0 $gap;
    border-radius: 5px;
    $blur-amount: 5px;
    -webkit-backdrop-filter: blur($blur-amount);
    -moz-backdrop-filter: blur($blur-amount);
    backdrop-filter: blur($blur-amount);

    button {
        all: unset;
        cursor: pointer;
        padding: 15px;
    }

    button.active {
        border-bottom: 1px solid black;
    }
}