* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@mixin width-height-adjusted {
    height: 100svh;
    width: 100vw;
}

html,
body {
    overflow: hidden;
    @include width-height-adjusted;
}

#root {
    @include width-height-adjusted;

    @media (max-width: $pop-up-breakpoint) {
        &:has(.configurator-popup) {
            margin-top: -90px!important;
        }
    }

    @media (min-width: $pop-up-breakpoint) {
        &:has(.configurator-popup) {
            margin-top: 0!important;
        }
    }
}